* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #2563eb;
  --primary-hover: #1d4ed8;

  --bg: #f8fafc;
  --card-bg: #ffffff;

  --text-dark: #0f172a;
  --text-light: #64748b;

  --border: #e2e8f0;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

body {
  font-family: "Segoe UI", sans-serif;

  background: var(--bg);

  color: var(--text-dark);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

button {
  transition: all 0.3s ease;
}

.card {
  border: 1px solid var(--border) !important;

  border-radius: 16px !important;

  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.card:hover {
  transition: 0.3s;

  transform: translateY(-2px);
}

.page-container {
  padding: 24px;
}

.page-title {
  font-size: 28px;
  font-weight: 700;
}

.page-subtitle {
  color: var(--text-light);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}